*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --color-black: #1f1f1f;
  --color-white: #ffffff;
  --color-ywllow: #f2b919;

  --letter-title: 'Kodchasan', sans-serif;
  --letter-text: 'Roboto', sans-serif;
}